$grey: rgba(0, 117, 98, 0.15);
$hover: #F4F5F5;
$failed: #FF6347;
$running : #FE989B;
$awaiting : #FFD796;
$succeed : #9FBAEF;
$shadow: 0 0 8px -3px rgba(34, 60, 80, 0.2);
$transparentBlack: rgba(0, 0, 0, 0.2);