@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import "bootstrap/scss/bootstrap";
@import './colors';

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.015rem;
  height: 100%;
}

.categories {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-start;
}

button {
  gap: 1rem;
  border: 0;
  background: $grey;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: none;
}

.addButtonCtr {
  position: fixed;
  bottom: 0;
  right: 0;
}

.addButton {

  &--category {
    background: none;
    max-width: 64px;
    max-height: 64px;
  }

  &--task {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    padding: 5px;
    border-radius: 5px;
    background: $grey;
    max-width: 64px;
    max-height: 64px;
    transition: box-shadow .2s ease-in-out;
    &:hover {
      box-shadow: $shadow;
    }
  }

  svg {
    background: none;
    transition: transform .2s ease-in-out;
    color: grey;
    width: 32px;
    height: 32px;
  }

  svg:hover {
    transform: scale(1.1);
  }
}