@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import "bootstrap/scss/bootstrap";
@import './colors';

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.015rem;
}

.categories {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: stretch;
}

button {
  gap: 1rem;
  border: 0;
  background: $grey;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: none;
}

.addButtonCtr {
  position: fixed;
  bottom: 0;
  right: 0;
}

.addButton {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  padding: 5px;
  border-radius: 5px;
  background: $grey;
  max-width: 64px;
  max-height: 64px;
  transition: box-shadow .2s ease-in-out;

  svg {
    background: none;
    transition: transform .2s ease-in-out;
    color: grey;
    width: 32px;
    height: 32px;
  }

  &:hover {
    box-shadow: $shadow;
  }

  svg:hover {
    transform: scale(1.1);
  }
}